version: '3.8'

services:
  web:
    build: .
    command: gunicorn -w 1 -b 0.0.0.0:8000 main:app
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data  # <--- Mounts a 'data' folder
    restart: always

  worker:
    build: .
    command: python clock.py
    volumes:
      - ./data:/app/data  # <--- Must match the web volume!
    restart: always