html, body {
    background-color: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    }

#menu {
    display: flex;
    overflow: auto;
    justify-content: center;
    align-items: center;
}
#menu h1 {
    padding: 0;
    margin-right: 20px;
}

#menu ul {
    margin: 0;
    overflow-y: auto;
}

#topinfo {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#topinfo li {
    margin-left: 40px;
    display: inline;
}

a {
    color: white;
}

#title {
    text-decoration: none;
    margin: 0;
}

a:hover {
    color: black;
    background-color: white;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 5px;
}

input[type=text] {
    background-color: black;
    color: white;
    padding: 3px;
    margin: 2px;
    border: none;
    border-bottom: 1px solid white;
}

input[type=text]:focus {
    outline: none;
}
