html, body {
    background-color: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    }

#menu {
    display: flex;
    overflow: auto;
    justify-content: center;
    align-items: center;
}
#menu h1 {
    padding: 0;
    margin-right: 20px;
}

#menu ul {
    margin: 0;
    overflow-y: auto;
}

#topinfo {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#topinfo li {
    margin-left: 40px;
    display: inline;
}

a {
    color: white;
}

a:hover {
    color: black;
    background-color: white;
}