<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Statistics - Blockfront historical</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/master.css')}}"/>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}"/>
</head>
<body>
    <nav>
        <div id="menu">
            <h1><a href="{{url_for('index')}}">Blockfront historical</a></h1>
            <ul id="topinfo">
                <li>{{players_in_match|safe}}</li>   
                <li><a href="https://github.com/seth-the-cat/py_bf_historical">Github</a></li>
            </ul>
        </div>
    </nav>

    <main>
    <div id="player-stats">
        <h2>Players in <span style="color: lightslategrey">{{username}}</span>'s match</h2>
        {{ match_html|safe }}
    </div>
    </main>
</body>
</html>